h1 {
    text-align: center
}

.one{
    color: red
}

.two{
    color: blue
}

.three{
    color: green
}

.four{
    font-size: 30px
}

.five {
    font-size: 5px
}

.six {
    text-align:center
}

.seven {
    font-weight: bold;
}

.eight {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nine {
    font-size: 90px;
    color: orange;
    font-weight:bold
}

.styledFont {
    color: green;
    font-style:oblique
}

img {
    border: 10px solid;
    border-color:aqua;
    border-style:dotted
}



